body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: aliceblue;
}
h1 {
  display: flex;
  justify-content: center;
}
.container {
  background-color: #818a77;
  border: 4px solid white;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  display: grid;
  grid-template-areas: "image" "title" "buttons";
  grid-template-rows: auto auto auto;
  gap: 10px;
  align-items: center;
  justify-items: center;

  background-image: url(https://images.unsplash.com/photo-1585589197566-b482772f8831?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2VhcG9ufGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  opacity: 0.7;
  z-index: -1;
}
h3 {
  grid-area: title;
  margin: 0;
  font-size: 32px;
  padding: 5px;
  background-color: palevioletred;
  border-radius: 10px;
  color: rgb(145, 255, 0);
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1581955957575-542d613ed134?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YnVsbGV0fGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
  border-radius: 10px;
}
.master-container {
  margin-top: 130px;
  margin-bottom: 20px;
  background-color: #fff;
  height: 65vh;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: auto;
  margin-top: 140px;
  border: 3px solid palevioletred;
}

.img {
  grid-area: image;
  max-width: 100%;
  width: 100%;

  height: 100px;
}

.btn {
  grid-area: buttons;
  display: flex;
  gap: 10px;
  justify-content: center;
}
button {
  padding: 8px 16px;
  cursor: pointer;
}
img {
  max-width: 100px;
  height: auto;
}
