*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
border:dashed red;
border-top: 5px solid;
border-right: 10px dotted;
margin: 1.5em 2em 4em ;
/*font-size: 1.5rem;
margin-top: 1.5em;
margin-right: 2em;
margin-bottom: 2em;
margin-left: 2em;*/

padding: 1.5em ;
}